.nav{
    background-color: black;
    width: 100%;
    min-height: fit-content;
    padding-bottom: 1em;
    margin: 0%;
    padding-top: .5em;
    text-align: left;
}
a{
    color: #FFFFFF;
    padding: 1em;
}
a:hover{
    color: #B0BEC5;
}
.nav a{
    margin-right: 2em;
    text-align: center;
    border-style: solid;
    border-left: 0em;
    border-bottom: 0em;
    border-top: 0em;
    padding-right: 1em;
    margin-top: 1em;
    font-size: 1em;
    justify-content: center;
}
/*black and white sections of the websites*/
.white-block{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3em;
    background-color: #FFFFFF;
    margin-bottom: 0em;
    justify-content: center;
}
.white-block p{
    text-align: center;
    font-size: 2em;
}
.black-block{
    background-color: black;
    width: 100%;
    color:#FFFFFF;
    margin-bottom: 0em;
}
#introductory-text{
    margin-bottom: 10%;
}

/*card sections*/
.sections-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sections-container p{
    font-size: 1em;
}
.section {
    margin: 2em;
    border-style: solid;

}
.section h3{
    margin: 0%;
    padding: 0.5em;
    background-color: black;
    color: white;
    
}
.section p{
    padding: .5em;
    background-color: #FFFFFF;
    color:black;
    margin: 0%;
    padding: 1em;
}
/*color scheme for white and black blocks of the sections*/
.white-block .section{
    color: black;
}
.black-block .section{
    color: white;
}
footer{
    padding: 1em;

}
#contact {
    margin: 1em;
}
#contact label{
    font-size: 1.25em;
}
#contact br{
    font-size: 5em;
}
#contact form input{
    margin-right: 3em;
}
#submit{
    border-radius: 10%;
    padding: 1.25em;
    background-color: black;
    color: white;
}