.nav{
    background-color: #333333;
    width: 100%;
    min-height: fit-content;
    padding-bottom: 1em;
    margin: 0%;
    padding-top: .5em;
    text-align: left;
}
a{
    color: #D32F2F;
    padding: 1em;
}
a:hover{
    color: #B0BEC5;
}
.nav a{
    margin-right: 2em;
    text-align: center;
    border-style: solid;
    border-left: 0em;
    border-bottom: 0em;
    border-top: 0em;
    padding-right: 1em;
    margin-top: 1em;
    font-size: 1em;
    justify-content: center;
}
.section-container{
    display: inline-flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    min-width: 80%;
    justify-content: center;
    background-color: #FFFFFF;
}
.section{
    margin-left: 1em;
    margin-right: 1em;
    max-width: 30%;
    width: fit-content;
    background-color: #555555;
    text-align: center;
    padding-bottom: 1em;
    color: #FFFFFF;
    margin-top: 1em;
}
.section h1{
    text-align: center;
    background-color: #333333;
    padding-bottom: 0.5em;
    margin-top: 0%;
}
.section img{
    max-width: 30%;
}
.section p{
    font-size: 1.25em;
    font-style: bold;
    margin-left: 5%;
    margin-right: 5%;
}
#summary{
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    margin: 0%;
}
#summary h1{
    font-size: 5em;
}
#summary p{
    font-size: 3em;
    font-style: bold;
    margin-left: 2em;
    margin-right: 2em;
}
footer{
    padding: 1em;
    background-color: #FFFFFF;
}
#contact{
    text-align: center;
    background-image: url("../public/pexels-pixabay-414659.jpg");
    width: 100%;
    padding: 10%;
    margin: 0%;
}

#dashboard{
    background-image: url("../public/pexels-pixabay-414659.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    height: 100%;
}